.DS_Store
*.swp
*.swo
*~

.claude/*
.opencode/*

LICENSE
Dockerfile
README.md
.git
.github
.gitignore
.trivyignore
renovate.json

# Ignore Java development tools for reduce Docker image size
bin/.local/devtools/java
